<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/>
    <my-input
          @say="data => parentSayHello(data)"
          :placeholder="form.name.placeholder"
          :error="form.name.error"
          :value="form.name.value"
    />
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'

export default {
    name: 'home',
    data () {
        return {
            form: {
                name: {
                    placeholder: 'text',
                    value: 'stas',
                    validator: {
                        maxLength: 10
                    },
                    error: null
                }
            }

        }
    },
    components: {
        HelloWorld
    },
    methods: {
        parentSayHello ({ target, value }) {
            if (target === 'name') {
                const field = this.form[target]
                const validator = field.validator
                field.value = value
                if (validator.hasOwnProperty('maxLength')) {
                    if (value.length >= validator.maxLength) {
                        field.error = { maxLength: true }
                    }
                }
            }
        }
    }
}
</script>
